@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: #fff;
  background-color: #000;
}

header {
  height: 220px;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: unset;
  text-decoration: none;
  transition: 0.2s ease-in;
  z-index: 1;
}

a::before,
a::after {
  position: absolute;
  content: "";
  z-index: -1;
}

a:hover {
  color: #ff6b72;
  cursor: pointer;
  text-shadow: 0 0 5px #ff6b72, 0 0 25px #ff6b72, 0 0 50px #ff6b72,
    0 0 200px #ff6b72;
}
